@font-face {
    font-family: 'Flood';
    src: url('../fonts/Flood.ttf');
}

body {
    background: rgb(0, 3, 19);
    background: linear-gradient(90deg, rgba(0, 3, 19, 1) 0%, rgb(0, 26, 6) 100%);
}

.logo {
    display: none;

    @media (min-width:641px) {
        display: inline;
        font-family: 'Flood', sans-serif;
        line-height: 0;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.596);
    }
}


.main-title {
    font-family: 'Flood', sans-serif;
    line-height: 1;
    font-size: 4rem;
}

.main-subtitle {
    font-family: 'Flood', sans-serif;
    line-height: 1;
    font-size: 2rem;
    color: aliceblue;
}

.hovereffects {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 10px;
}

.hovereffects .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

.hovereffects img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffects h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}


.hovereffects a.info:hover {
    box-shadow: 0 0 5px #fff;

}

.hovereffects:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffects:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffects:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.container.loading {
    background: rgba(0, 3, 19, 0.1);
    background: linear-gradient(90deg, rgba(0, 3, 19, 0.2) 0%, rgba(0, 26, 6, 0.2) 100%);
    width: 100%;
    min-height: 100vh;

}

.loading-content {
    width: 160px;
    height: 160px;
    padding: 6rem;
    border-radius: 50%;
    background-color: rgb(207, 253, 247);
    border: transparent;
    box-shadow: 0px 0px 35px 17px rgb(98, 184, 95);
    -webkit-box-shadow: 0px 0px 35px 17px rgb(98, 184, 95);
    -moz-box-shadow: 0px 0px 35px 17px rgb(98, 184, 95);
}

.loading-img {
    position: absolute !important;
    left: 50% !important;
    top: 30% !important;
    transform: translate(-50%, -50%) !important;
    width: 100px;
    height: auto;
}

.loading-text {
    color: #3d3d3d;
    font-size: .7rem;
    position: absolute !important;
    left: 40% !important;
    top: 110% !important;

}

.progress-bar-container {
    position: absolute !important;
    left: 50% !important;
    top: 100% !important;
    transform: translate(-50%, -50%) !important;
    width: 150%;
    height: 1rem;
    border-radius: 20px;
    background-color: #00995e;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #003509f5 !important;
    border-radius: 20px;
    transition: width 0.5s ease;
}

@media (min-width:576px) {
    .loading-content {
        width: 320px;
        height: 320px;
    }

    .loading-img {
        width: 200px;
        height: auto;
    }
}

@media (min-width:992px) {
    .loading-content {
        width: 420px;
        height: 420px;
    }

    .loading-img {
        width: 300px;
        height: auto;
        top: 30% !important;
    }

    .progress-bar-container {
        width: 100%;
    }
}

#e-404 {
    width: 100%;
    height: 100vh;
    background: rgb(0, 138, 119);
    background: linear-gradient(90deg, rgba(0, 100, 87, 1) 0%, rgba(38, 0, 126, 1) 100%);
    color: white !important;

    margin-top: -.2rem;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center center;

    @media (min-width: 568px) {
        margin-top: -.5rem;
        padding-top: 0.8rem;

    }

    a.back {
        width: auto;
        text-decoration: none;
        transition: all .4s ease;
        border-radius: 20px;
        color: white;
        font-size: 1.1rem;

        &:hover {
            font-size: 1.3rem;
            background-color: aliceblue;
            color: black !important;
        }
    }

    .logo {
        &-img {
            width: 5rem !important;
            height: auto;
            align-items: center;
            display: inline-block;
        }

        &-title {
            margin: auto 0;
            width: auto;
        }
    }

    .gif {
        margin: 1rem 0;
        width: 15rem !important;
        height: auto;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }
    }
}

#e-500 {
    width: 100%;
    height: 100vh;
    background: rgb(0, 138, 119);
    background: linear-gradient(90deg, rgba(0, 100, 87, 1) 0%, rgba(38, 0, 126, 1) 100%);
    color: white !important;

    margin-top: -.2rem;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center center;

    @media (min-width: 568px) {
        margin-top: -.5rem;
        padding-top: 0.8rem;

    }

    .gif {
        margin-top: 1rem;
        width: 20rem !important;
        height: auto;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .logo {
        &-img {
            width: 5rem !important;
            height: auto;
            align-items: center;
            display: inline-block;
        }

        &-title {
            margin: auto 0;
            width: auto;
        }
    }
}
.grecaptcha-badge{
    visibility: hidden;
}

@import "../bootstrap/scss/bootstrap.scss";