
<footer class="text-center text-lg-start bg-dark text-muted mt-5">
    <!-- Section: Links  -->
    <hr>
    <section class="">
        <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
            <div class="row mt-3">
          <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="bi bi-tree text-success me-2"></i>Paso Ancho 
                    </h6>
                    <p>
                        Paso Ancho o Paso del Ancho si va tincho. jejejjeejjejej. completasion Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptates et omnis a doloribus excepturi.
                    </p>
                </div>
                <!-- Grid column -->
  
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="{% url 'home' %}{{cabaña8}}" class="text-reset">Cabaña 8 Personas</a>
                    </p>
                    <p>
                        <a href="{% url 'home' %}{{cabaña2}}" class="text-reset">Cabaña 2 Personas</a>
                    </p>
                    <p>
                        <a href="{% url 'home' %}{{actividades0}}" class="text-reset">Senderismo</a>
                    </p>
                    <p>
                        <a href="{% url 'home' %}{{actividades1}}" class="text-reset">Trekking</a>
                    </p>
                </div>
          <!-- Grid column -->
              
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <a href="https://www.google.com/maps/place/Parador+Paso+Ancho/@-31.9752743,-64.7726931,16.17z/data=!4m13!1m7!3m6!1s0x95d2cc0a27ea2d1f:0x9dd9554d7478f62a!2sVilla+Alpina,+C%C3%B3rdoba!3b1!8m2!3d-31.9563507!4d-64.8132356!3m4!1s0x95d2c9b90102275b:0x537f14a23ab10ecd!8m2!3d-31.9716179!4d-64.770682"
                            class="text-muted text-decoration-none" >
                            <i class="bi bi-geo me-3 text-info"></i>
                            Ubicacion
                        </a>
                    <p>
                        <i class="bi bi-envelope me-3 text-info"></i>
                        gusanoelloco@example.com
                    </p>
                    <p>
                        <i class="bi bi-phone me-1 text-info"></i>
                        <i class="bi bi-whatsapp me-2 text-success"></i>
                        +54 351 0000 000
                    </p>
                    <a href="https://www.instagram.com/pasoancho.va/" class="text-decoration-none text-muted">
                        <i class="bi bi-instagram text-info me-3"></i>
                        @pasoancho.va
                    </a>        
                </div>
            </div>
        </div>
    </section>
    
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="#">SomeWebPage.com</a>
    </div>
    
</footer>