
{% load static %}

<div class="container loading position-relative" id="loading">
  <small class="text-center text-muted my-2"> Cargando...</small>
  <div class="loading-content position-absolute top-50 start-50 translate-middle">
    <div class="position-relative w-100 h-100">
      <img src="{% static 'images/logo.png'%}" alt="Logo loading page" class="loading-img">
      <div class="progress-bar-container" id="progress-bar-container">
        <!-- Progress bar -->
        <div class="progress-bar" id="progress-bar"></div>
      </div>
      <span class="loading-text">Cargando. . .</span>
    </div>
  </div>
    
</div>

<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/loading.js'%}"></script>

