{% extends 'main.html' %}

{% block title %}
    Actividades 
{% endblock title %}

{% block content %}
{% load static %}
<br>
<section class="container">
    <!--Senderismo-->
    <br>
    <h1 class="my-4 main-subtitle text-center"> Actividades </h1>
    <hr id="senderismo">
    <hr>
    <div class="card my-5">
        <div class="row g-0 ">
            <div class="col-lg-4">
                <img src="{% static 'images/actividades/senderismo.jpg' %}" class="img-fluid rounded-start" alt="Senderismo las sierras">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h3 class="card-title text-center">Senderismo</h3>
                    <p class="card-text mt-5">
                        El senderismo permite apreciar las diferentes especies de fauna y flora
                        autóctona, despertando así la conciencia del respeto y cuidado del 
                        ambiente. Hay opciones de todo tipo: con diversos grados de dificultad, 
                        atravesando arroyos, recorriendo sierras, descubriendo cascadas e 
                        infinidad de rincones mágicos para disfrutar. Finalizando los recorridos en
                        ollas de agua cristalina con playas de arena a su alrededor, son ideales para
                        descansar en familia por sus amplios espacios y la calidez del agua. 
                    </p>
                    <small class="text-muted">Rutas diseñas por todo el entorno del establecimiento</small>
                </div>
                  
            </div>
        </div>
    </div>
    <!--Trekking-->
    
    <hr id="trekking">
    <hr>
    <div class="card my-5">
        <div class="row g-0">
            <div class="col-lg-4">
                <img src="{% static 'images/actividades/trekking.png' %}" class="img-fluid rounded-start" alt="Trekking champaqui">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h3 class="card-title text-center">Trekking</h3>
                    <p class="card-text mt-5">
                        Hacer trekking en Córdoba no es solo para expertos, gracias a su gran variedad
                        de paisajes, los arededores del complejo cuenta con senderos calmos que comprenden 
                        trayectos cortos, y a su vez esta estrategicamente ubicado cerca del Cerro Champaqui
                        para aquellos/as que busquen hacer trekking un poco mas avanzado.Para emprender la 
                        aventura, es importante llevar ropa y calzado adecuados, protector solar y una campera 
                        rompevientos por las posibles lluvias inesperadas. 
                    </p>
                    <small class="text-muted">Ofrecemos servicio de guía de montaña experto.</small>
                </div>
                  
            </div>
        </div>
    </div>
    <!--Alguna otra-->
    
    <hr id="algo">
    <hr>
    <div class="card my-5">
        <div class="row g-0">
            <div class="col-lg-4">
                <img src="{% static 'images/actividades/peñon.jpg' %}" height="100%" class="img-fluid rounded-start" alt="Peñon del aguila">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h3 class="card-title text-center">Parque tematico, Peñon del Aguila</h3>
                    <p class="card-text mt-5">
                        A 21KM de nuestro complejo se encuentra el Peñon del aguila, focaliza su 
                        propuesta en los antecedentes alemanes y centroeuropeos de La Cumbrecita. 
                        Es así que la llegada al centro de actividades del parque se realiza por 
                        medio de un tren sobre neumáticos, replica de una locomotora austríaca a 
                        vapor del siglo XIX, Ideal para grandes y chicos. El cual cuenta con 
                        actividades como, Arborismo, Arco y Flecha, Salto del Aguila, Rapel, 
                        entre muchas otras. 
                    </p>
                    <small class="text-muted">Para mas informacion puede visitar su pagina, <a href="https://penondelaguila.com.ar/parque/actividades/">PEÑON DEL AGUILA</a></small> 
                </div>
                  
            </div>
        </div>
    </div>

    <!--Dia de Campo-->
    
    <hr id="diacampo">
    <hr>
    <div class="card my-5">
        <div class="row g-0">
            <div class="col-lg-4">
                <img src="{% static 'images/actividades/diacampo1.png' %}" class="img-fluid rounded-start" alt="Dia de Campo sierras de Cordoba">
            </div>
            <div class="col-lg-8">
                <div class="card-body">
                    <h3 class="card-title text-center">Dia de Campo</h3>
                    <p class="card-text mt-5">
                        Es la mejor alternativa para disfrutar de la paz de las sierras, 
                        aún cuando no se dispone del tiempo necesario. Ideal para disfrutar 
                        con amigos o en familia. Al mediodía nos espera un exquisito asado, 
                        preparado por unas expertas manos, a orillas del arroyo. También 
                        contamos con algunas variables para vegetarianos o algún caso especial. 
                        Por la tarde regresamos al puesto donde terminamos tomando unos mates, 
                        para así cerrar un típico día de campo argentino y cordobés
                    </p>
                    <small class="text-muted">Contactanos para mas informacion</small>
                </div>
                  
            </div>
        </div>
    </div>
</section>

{% include 'base/contacto_form.html' %}
{% endblock content %}