{% extends 'main.html' %}

{% block title%}
    Alrededores
{% endblock title %}

{% block content %}
{% load static %}
<br>
<h1 class="my-5 text-center main-subtitle text-capitalize">Lugares cercanos</h1>
<section id="cards" class="container my-5">
    <div class="row my-5">
        <div class="col-lg-4 mb-5">
            <div class="card border border-white border-3 rounder-3">
                <img src="{% static 'images/alrededores/va.jpg' %}" alt="Villa Alpina Paso Ancho" class="card-image-top img-fluid">
                <div class="card-body">
                    <h3 class="card-title text-capitalize">Villa Alpina</h3>
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Ubicacion Actual </small>
                        </div>
                        <div class="col">
                            <a href="https://www.google.com/maps/place/Parador+Paso+Ancho/@-31.9752743,-64.7726931,16.17z/data=!4m13!1m7!3m6!1s0x95d2cc0a27ea2d1f:0x9dd9554d7478f62a!2sVilla+Alpina,+C%C3%B3rdoba!3b1!8m2!3d-31.9563507!4d-64.8132356!3m4!1s0x95d2c9b90102275b:0x537f14a23ab10ecd!8m2!3d-31.9716179!4d-64.770682"
                                class="text-muted text-decoration-none" >
                                <i class="bi bi-geo ms-3 text-danger"></i>
                                Abrir mapa
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        <br>
                        Está a 10 km de Villa Alpina por camino de tierra, una aldea de montaña,
                        con un puente colgante que cruza el Río Los Reartes, donde hay algunas
                        cabañas, muy pocas casas, una despensa y un restaurant. Es conocido por
                        ser la base para escalar el cerro Champaqui, que es el más alto de Córdoba.
                        <br>
                    </p>
                </div>
            </div>                
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card border border-white border-3 rounder-3">
                <img src="{% static 'images/alrededores/lacumbresita.jpeg' %}" alt="La cumbresita desde Villa alpina" class="card-image-top img-fluid">
                <div class="card-body">
                    <h3 class="card-title text-capitalize">La Cumbrecita</h3>
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Distancia: 10 KM</small>
                        </div>
                        <div class="col">
                            <a href="https://www.google.com/maps/place/La+Cumbrecita,+C%C3%B3rdoba/@-31.8978818,-64.7907873,15z/data=!3m1!4b1!4m5!3m4!1s0x95d2cb22ee24bc3f:0x9455570e961749c!8m2!3d-31.8991371!4d-64.7730365"
                                class="text-muted text-decoration-none" >
                                <i class="bi bi-geo ms-3 text-danger"></i>
                                Abrir mapa
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        La Cumbrecita es conocida por ser un pueblito encantador, por su
                        caminata hasta la cascada y por el parque de entretenimientos Peñon 
                        del Aguila. Al llegar a La Cumbrecita te hacen dejar el auto estacionado 
                        y solo se puede caminar dentro del pueblo. 
                        <a href="http://www.penondelaguila.com.ar/">PEÑON DEL AGUILA</a>  (Recomendado para los chicos y grandes
                        también).
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card border border-white border-3 rounder-3">
                <img src="{% static 'images/alrededores/villagbelgrano.jpeg' %}" alt="Villa General Belgrano desde villa alpina" class="card-image-top img-fluid">
                <div class="card-body">
                    <h3 class="card-title text-capitalize">Villa General Belgrano</h3>
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Distancia: 20KM</small>
                        </div>
                        <div class="col">
                            <a href="https://www.google.com/maps/place/X5194+Villa+Gral.+Belgrano,+C%C3%B3rdoba/@-31.9772813,-64.5909119,13z/data=!3m1!4b1!4m5!3m4!1s0x95d2b05df32fdf21:0xca30b7769d4566d3!8m2!3d-31.9776652!4d-64.5594102"
                                class="text-muted text-decoration-none" >
                                 <i class="bi bi-geo ms-3 text-danger"></i>
                                Abrir mapa
                            </a>
                        </div>
                    </div>
                        
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        Ya un poco más alejado, pero mucho más grande que los anteriores,
                        a unos 45 minutos (25 km) se encuentra Villa General Belgrano, un
                        municipio muy pintoresco y divertido, con muchas actividades y más
                        durante el verano. Tiene un marcado estilo alemán dado por el
                        asentamiento de inmigrantes de este país. 
                        <a href="http://vgb.gov.ar/turismovgb/fotos/"> Villa General Belgrano</a> 
                            
                    </p>
                </div>
            </div>                
        </div>
    </div>
</section>
    
<div class="container text-white my-5 w-100">
    <hr>
    <hr>
</div>

{% include 'base/contacto_form.html' %}
{% endblock content%}