<!--Contacto-->
<div class="container text-white my-5 w-75">
    <div class="text-center">
        <h1 class="main-subtitle">Consultas</h1>
        <p>
            Ante cualquier inquietud o pregunta que le surga, no dude en contactarnos y le 
            contestaremos a la brevedad!
        </p>
    </div>
    <form action="{% url 'consulta' %}" method="post" class="border border-white rounded-3">
        {% csrf_token %}
        <div class="my-3 mx-lg-5 mx-2">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" name="name" class="form-control shadow w-100" placeholder="Ingrese su nombre..." required>
        </div>
        <div class="mb-3 mx-lg-5 mx-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control shadow w-100" placeholder="Ingrese su email..." required>
        </div>
        <div class="row justify-content-center text-center">
            <h3>Fechas:</h3>
            <div class="col-5">
                <div class="mb-3 mx-lg-5 mx-2">
                    <label for="date_from" class="form-label">Desde</label>
                    <input type="date" name="date_from" class="form-control shadow w-100" placeholder="" required>
                </div>
            </div>
            <div class="col-5">
                <div class="mb-3 mx-lg-5 mx-2">
                    <label for="date_to" class="form-label">Hasta</label>
                    <input type="date" name="date_to" class="form-control shadow w-100" placeholder="" required>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <h3 >Cantidad de personas:</h2>
            <div class="col-5 ">
                <div class="mb-3 mx-lg-5 mx-2">
                    <label for="amount_adults" class="form-label">Adultos</label>
                    <input type="number" name="amount_adults" class="form-control shadow w-100" placeholder="Cantidad de Adultos" required>
                </div>
            </div>
            <div class="col-5">
                <div class="mb-3 mx-lg-5 mx-2">
                    <label for="amount_kids" class="form-label">Menores</label>
                    <input type="number" name="amount_kids" class="form-control shadow w-100" placeholder="Cantidad de Menores" required>
                </div>
            </div>
        </div>
        <div class="mb-2 mx-lg-5 mx-2">
            <label for="question" class="form-label">Pregunta</label>
            <textarea name="question" rows="3" class="form-control shadow w-100" placeholder="Ingrese su pregunta..." required></textarea>
        </div>
        <div class="row mb-0">
            <div class="col ms-lg-5">
                <p>
                    Tambien podes escribirnos a Whats App!
                    <i class="bi bi-whatsapp text-success  mt-0">
                         <small class="text-muted">+54 351 769 8648</small>
                    </i>
                </p> 
                
            </div>
            <div class="col">
                <div class="d-flex justify-content-end mb-4">
                <input type="submit" class="btn btn-outline-light w-auto mx-2 mx-lg-5" value="Confirmar">
                </div>
            </div>
            
        </div>
    </form>
</div>
<br>