{% extends 'main.html' %}

{% block title %}
    Contactanos
{% endblock title %}

{% block content %}
<br>
<div class="container text-white my-5">
    <div class="text-center">
        <h1 class="my-3 ms-lg-3 ms-xs-1 main-subtitle text-center">Contactanos</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consectetur, 
            mollitia perferendis tenetur explicabo voluptas voluptate architecto debitis perspiciatis voluptates.
        </p>
    </div>
    
</div>
<div class="container my-5 text-white">
    <div class="row">
        <div class="col-lg-4">
            <div class="row my-5">
                <div class="col-3">
                    <h1><i class="bi bi-inbox"></i></h1>
                </div>
                <div class="col text-center">
                    <h5>Escribirnos por correo!</h5>
                    <small>
                        <strong style="color: rgba(255, 255, 255, 0.24);">pasoancho.va@gmail.com</strong>
                    </small>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-3">
                    <h1><i class="bi bi-telephone"></i></h1>
                    <h1><i class="bi bi-whatsapp"></i></h1>      
                </div>
                <div class="col text-center mt-3">
                    <h5>Llamanos o escribinos por Whatsapp!</h5>
                    <small>
                        <strong style="color: rgba(255, 255, 255, 0.24);">+54 351 769 8648</strong>
                    </small>
                </div>
            </div>
            <div class="row my-3">
                <h4 class="text-end">Nuestras redes sociales</h4>
                <div class="col-3">
                    <h1><i class="bi bi-facebook"></i></h1>
                    <h1><i class="bi bi-instagram"></i></h1>
                </div>
                <div class="col text-center mt-2">
                    <div class="row">
                        <a href="https://www.facebook.com/pasoanchocasasdecampo" 
                        class="text-decoration-none text-white">
                            <small>
                                <strong style="color: rgba(255, 255, 255, 0.24);">pasoanchocasasdecampo</strong> 
                            </small>
                        </a>
                    </div>
                    <div class="row mt-4">
                        <a href="https://www.instagram.com/pasoancho.va/" 
                            class="text-decoration-none text-white">
                            <small class="">
                                <strong style="color: rgba(255, 255, 255, 0.24);">@pasoancho.va</strong> 
                            </small>
                        </a>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <form action="{% url 'consulta' %}" method="post">
                {% csrf_token %}
                <div class="my-3 ms-lg-5 ms-2">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" name="name" class="form-control shadow " placeholder="Ingrese su nombre...">
                </div>
                <div class="my-5 ms-lg-5 ms-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control shadow" placeholder="Ingrese su email...">
                </div>
                <div class="my-5 ms-lg-5 ms-2">
                    <label for="question" class="form-label">Pregunta</label>
                    <textarea name="question" rows="3" class="form-control shadow" placeholder="Ingrese su pregunta..."></textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-end mb-4">
                            <input type="submit" class="btn btn-outline-light w-auto mx-2 mx-lg-5" value="Enviar Consulta">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}